/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.button {
  position: relative;
  border: 2px solid var(--color_dark, #000);
  overflow: hidden;
  background-color: var(--bg_color, #fff);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color_dark, #000);
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color_dark, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transform: translateX(0);
  cursor: pointer;
}

.page {
  font-family: var(--inter, sans-serif);
  background-image: var(--bg_img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--inter_regular);
}

.header {
  max-width: 700px;
  margin: 100px 370px;
  margin-inline: auto;
  border: 2px solid var(--color_dark, #000);
  text-align: center;
  background-color: var(--bg_color, #fff);
}

.header_title {
  margin-top: 128px;
  margin-bottom: 20px;
  font-family: var(--PressStart, fantasy);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header_sublitle {
  margin-bottom: 128px;
  font-family: var(--PressStart, fantasy);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.section_with_cards {
  display: grid;
  gap: 50px;
  max-width: 700px;
  margin-inline: auto;
}

.card {
  display: block;
  margin-inline: auto;
  border: 2px solid var(--color_dark, #000);
  background-color: var(--bg_color, #fff);
}

.img_container {
  position: relative;
  max-height: 700px;
  overflow: hidden;
}

.card_img {
  display: block;
  width: 100%;
  height: auto;
  border-top: 2px solid var(--color_dark, #000);
  border-bottom: 2px solid var(--color_dark, #000);
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  color: var(--color_dark, #000);
  font-family: var(--PressStart, fantasy);
  font-size: var(--big_font, 14px);
  text-transform: uppercase;
  text-shadow: 0px 0px 5px var(--color_dark, #000);
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color_light, #fff);

}

@supports((text-stroke: 1px var(--color_light, #fff)) or (-webkit-text-stroke: 1px var(--color_light, #fff))) {
  .watermark {
      -webkit-text-stroke: 1px var(--color_light, #fff);
      text-stroke: 1px var(--color_light, #fff);
      text-shadow: none;
  }
}
.card_header {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block: 5px 5px;
  font-family: var(--inter, sans-serif);
  font-size: var(--card_text_size, 18px);
  line-height: 21px;
  text-align: left;

}

.card_description {
  display: grid;
  gap: 27px;
  padding: 25px 25px 0;
  font-family: var(--inter, sans-serif);
  font-size: var(--card_text_size, 18px);
  line-height: 21px;
 
}

.button_container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: fit-content;
  margin: 25px 25px 25px 0px;
  gap: 8px;
   
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  background-color: var(--bg_color, #fff);
  padding: 0;
  
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color_dark, #000);
  transition: border 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
  overflow: hidden;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--color_light, #fff);
  font-family: var(--PressStart, fantasy);
  font-size: var(--big_font, 14px);
  line-height: 90%;
  mix-blend-mode: difference;
}

.open_button {
  width: 335px;
  margin-inline: auto;
  margin-block-end: 100px;
  padding-block: 15px;
}

.floppy {
  position: relative;
  z-index: 1;
  width: 21px;
  height: auto;
  color: var(--color_light, #fff);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] .floppy {
  min-width: 39px;
  height: auto;
  margin-inline-end: 20px;
}

.dialog_content {
  display: flex;
}

.dialog_text {
  display: block;
  max-width: 200px;
  font-family: var(--PressStart, fantasy);
  font-size: var(--big_font, 14px);
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.close_button {
  justify-self: center;
  width: 293px;
  height: 38px;
}

.filter_saturate {
  filter: saturate(500%);
}

.filter_grayscale {
  filter: grayscale(60%);
}

.filter_invert {
  filter: invert(90%);
}

.filter_hue-rotate {
  filter: hue-rotate(150deg);
}

.filter_sepia {
  filter: sepia(100%);
}

.filter_blur {
  filter: blur(2px);
}

.filter_brightness {
  filter: brightness(200%);
}

.filter_multiply {
  filter: contrast(160%) brightness(129%);
}
@media (width <= 376px) {
  .header {
    width: 100%;
  }

  .header_title {
    margin-top: 120px;
  }

  .header_sublitle {
    margin-bottom: 120px;
  }

  .section_with_cards {
    gap: 50px;
  }

  .watermark {
    right: 10px
  }

  .open_button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 306px;
  }

  .open_button .floppy {
    align-self: center;
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
   justify-self: center;
   padding: 30px 33px;   
  }

  .close_button {
    width: 257px;
  }
}
