/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --inter: 'Inter-Variable';
  --PressStart: 'PressStart2P-Regular';
  --inter_bold: 700px;
  --inter_regular: 400px;
  --bg_img: repeating-linear-gradient(
    to right,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a
  );
  --color_dark: #000;
  --bg_color: #fff;
  --color_light: #fff;
  --countur-color: #000;
  --animation-fill-color: #FF0000;
  --big_font: 14px;
  --card_text_size: 18px;

}